extends layout.jade

block pageHeader
  h1 About Us

block content

  .photo-credit.col-xs-12
    | Photo Credit:
    a(href='https://www.flickr.com/photos/xshamx/3538898056') Flickr User Sham Hardy

  .col-xs-1.col-md-2.col-lg-3
  .col-xs-10.col-md-8.col-lg-6.scar-content
    
    h3 Santa Cruz AIDS Project
    p The 
      a(href='http://www.encompasscs.org/community-support-services/santa-cruz-aids-project-scap') Santa Cruz AIDS Project (SCAP)
      |  serves men, women and children who are HIV positive living in Santa Cruz County. Our mission is to promote and participate in a comprehensive and compassionate response to HIV and AIDS through education, advocacy, and supportive services.
    p Your support helps us provide direct services to people in Santa Cruz County living with HIV, such as benefits counseling, housing support, our food pantry, and wellness services.  We help the most vulnerable members of our community live more fulfilling lives.

    h3 Encompass Community Services
    p 
      a(href='http://www.scccc.org/') Encompass Community Services
      |  (formerly Santa Cruz Community Counseling Center) is a California 501(c)(3) nonprofit corporation which has been serving Santa Cruz County since 1973.  Our mission is "building on the strength of people working together to create healthy change in their lives and community.  We deliver quality human services guided by the values of diversity, partnership, and the power of workplace democracy."  We do this through our four service components: Child and Family Development Programs, Youth Services, Community Recovery Services, and Community Support Services.

    h3 Press
    ul
      li
        a(href="assets/SurfCityAIDSRide2016_PR.pdf") Surf City AIDS Ride 2016 Announcement