extends layout.jade

block pageHeader
  h1 Day of Event

block content

  .row
    .col-xs-1
    #day-of-event-content.col-xs-10
      h3 
      hr
      h3#routes Routes

      h4 12 Mile
      h5 471 feet of climbing, 1 aid station
      .row
        .col-xs-12.col-md-6
          p Easy route for the beginner! NO BIG HILLS! Ride from the Santa Cruz County Courthouse to Capitola Village and back. Fun for cyclists of all skill levels. Ride a beach cruiser, a tandem, your Burning man art bike or a fixie! Wear a costume! Tell everyone to come ride: family, friends, and co-workers! Come ride with various Santa Cruz celebrities!!!
        .col-xs-12.col-md-6.text-xs-center
          a(href='http://ridewithgps.com/routes/6559669')
            img(src='assets/12-profile.png')
          a(href='http://ridewithgps.com/routes/6559669') View Full Route

      h4 30 Mile
      h5 2,138 feet of climbing, 2 aid stations
      .row
        .col-xs-12.col-md-6
          p This fun route hugs the coastline from The Boardwalk to Seacliff. It has beautiful coastal views, a couple easy to moderate climbs and two rest stops. Starting time is 9 am.
        .col-xs-12.col-md-6.text-xs-center
          a(href='http://ridewithgps.com/routes/6559672')
            img(src='assets/30-profile.png')
          a(href='http://ridewithgps.com/routes/6559672') View Full Route

      h4 65 Mile
      h5 3,319 feet of climbing, 3 aid stations, 2 food stops
      .row
        .col-xs-12.col-md-6
          p The 65 mile route parallels the century as far as the second pit stop. From there it travels through the beautiful rolling hills of Northern Monterey County among artichokes and strawberries and apple orchards, rejoining the century ride in Aromas for lunch. This route has moderate climbs. Start time is 8 am.
        .col-xs-12.col-md-6.text-xs-center
          a(href='http://ridewithgps.com/routes/6559675')
            img(src='assets/65-profile.png')
          a(href='http://ridewithgps.com/routes/6559675') View Full Route

      h4 100 Mile
      h5 4,829 feet of climbing, 5 aid stations, 2 food stops
      .row
        .col-xs-12.col-md-6
          p This is your century route option! It will take you through San Juan Bautista via Moss Landing and San Juan Grade. The century follows wonderful back roads, farmlands, redwood forests and ocean views in Santa Cruz, Monterey and San Benito Counties. An amazing route that hugs the coast and has some challenging climbs! Starting time is 7 am.
        .col-xs-12.col-md-6.text-xs-center
          a(href='http://ridewithgps.com/routes/6559676')
            img(src='assets/100-profile.png')
          a(href='http://ridewithgps.com/routes/6559676') View Full Route