.card.bg-faded
  .card-block
    h4.card-title Top Fundraisers
  .fundraiser-block
    h5 Individuals
    table#top-individual-fundraisers.table.table-striped.table-bordered
      tr
        td Loading

    h5 Teams
    table#top-team-fundraisers.table.table-striped.table-bordered
      tr
        td Loading

    .form-group
      label(for='fundraiser-search') Search for a rider or team
      input.form-control#fundraiser-search(placeholder='Enter name')