extends layout.jade

block pageHeader
  h1 Fundraising

block content

  .col-xs-1.col-md-2.col-lg-3
  .col-xs-10.col-md-8.col-lg-6.scar-content
    h3 Santa Cruz AIDS Project
    p The Santa Cruz AIDS Project (SCAP) serves men, women and children who are HIV positive living in Santa Cruz County. Our mission is to promote and participate in a comprehensive and compassionate response to HIV and AIDS through education, advocacy, and supportive services.
    p Your support helps to fund services for men, women and children who are HIV positive, as well as prevention and education programs. A key priority is the alarming increase of HIV within our Latino farm working community.  Donate individually or join a team to raise money today!

    h3 Fundraising Expectations
    p All riders are asked to fundraise $300-$500 per individual as part of a team with 5-25 members.  Riders will receive a free T-shirt for every $300 raised or a free jersey for every $500 raised (per individual).
    p.text-danger Starting this year, we are now charging fundraisers the registration fee instead of allowing the fundraising to cover registration.  Registration fees will count towards fundraising goals.

    .registration-buttons
      a.btn.btn-primary(href='http://encompasscs.donorpages.com/SurfCityAIDSRide2016/register') Register to Fundraise!
      a.btn.btn-primary(href='http://encompasscs.donorpages.com/SurfCityAIDSRide2016/login') Login to Your Account

    h4 Support
    p If you need further assistance please call: 831-427-3900 or email 
      a(href='mailto:SCAIDSRide@EncompassCS.org') SCAIDSRide@EncompassCS.org