extends layout.jade

block pageHeader
  h1 Surf City AIDS Ride
  h2 Sunday October 9th 2016
  h3.text-danger Registration Coming Soon
  h4 Santa Cruz California    

block content
  .col-lg-1
  .col-xs-12.col-lg-10
    
    .row
      #home-photo-credit.col-xs-12
        | Photo Credit:
        a(href='https://www.flickr.com/photos/fogcat5/13656934153/') Flickr User fogcat5

    #home-cards.row
      .card-columns
        .card
          .card-block
            h4.card-title Day of Event
          a(href='dayOfEvent.html')
            img(src='assets/dayOfEvent.jpg' alt='Day of Event')
          .card-block
            p.card-text All rides start at the Santa Cruz County Courthouse.  Registration closes at the start of each ride.
            p.card-text Choose a route: 12, 30, 65 or 100 miles!
            a.btn.btn-primary(href='dayOfEvent.html') Learn More
            a.btn.btn-primary(href='dayOfEvent.html#routes') View Routes
        
        .card
          .card-block
            h4.card-title Training Rides
          a(href='training.html')
            img(src='assets/training.jpg' alt='Training')
          .card-block
            p.card-text Get in shape for the big day with these training rides!
            a.btn.btn-primary(href='training.html') Learn More
          

        .card
          .card-block
            h4.card-title Fundraising
          a(href='fundraising.html')
            img(src='assets/jerseys.jpg' alt='Fundraising')
          .card-block
            p.card-text Some kind of tagline to get people really excited to donate money to Encompass.  Yay!
            a.btn.btn-primary(href='fundraising.html') Learn More
            a.btn.btn-primary(href='fundraising.html') Join a Team!
            a.btn.btn-primary(href='fundraising.html') Donate Now!

        .card
          .card-block
            h4.card-title Volunteer
          a(href='volunteer.html')
            img(src='assets/volunteer.jpg' alt='Volunteer')
          .card-block
            p.card-text Some kind of tagline to get people really excited to volunteer for the Surf City AIDS Ride.  Yay!
            a.btn.btn-primary(href='volunteer.html') Learn More
            a.btn.btn-primary(href='volunteer.html') Sign Up Now!

        .card
          .card-block
            h4.card-title Sponsors
          a(href='sponsors.html')
            img(src='assets/sponsors-card.png' alt='Sponsors')
          .card-block
            p.card-text Some kind of tagline that is super duper thankful for the sponsors of the Surf City AIDS Ride.  Yay!
            a.btn.btn-primary(href='sponsors.html') View Sponsors

        .card
          .card-block
            h4.card-title About the AIDS Project
          a(href='http://www.encompasscs.org/community-support-services/santa-cruz-aids-project-scap')
            img(src='assets/encompass-logo.jpg' alt='Encompass Logo')
          .card-block
            p.card-text The Santa Cruz AIDS Project (SCAP) serves men, women and children who are HIV positive living in Santa Cruz County. Our mission is to promote and participate in a comprehensive and compassionate response to HIV and AIDS through education, advocacy, and supportive services.
            a.btn.btn-primary(href='http://www.encompasscs.org/community-support-services/santa-cruz-aids-project-scap') Learn More

    #sponsors.row
      .hidden-sm-down
        hr
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://adventuresportsjournal.com/')
          img(src='assets/adventure-sports-journal.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://www.wholefoodsmarket.com/stores/santacruz')
          img(src='assets/whole-foods.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://epicentercycling.com/')
          img(src='assets/epicenter-cycling.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://www.bicycletrip.com/')
          img(src='assets/bicycle-trip.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://www.spokesmanbicycles.com/')
          img(src='assets/spokesman.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://www.familycycling.com/')
          img(src='assets/family-cycling-center.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://www.cafeugly.com/Cafeugly/home.html')
          img(src='assets/ugly-mug.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://bikestationaptos.com/')
          img(src='assets/bike-station-aptos.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://www.timbuk2.com/')
          img(src='assets/timbuk2.jpg')
      .hidden-sm-down.col-md-4.col-lg-3.col-xl-2
        a(href='http://santacruzcore.com/')
          img(src='assets/santa-cruz-core-fitness-rehab.jpg')
