extends layout.jade

block pageHeader
  h2 Sponsors

block content

  .col-xs-1.col-md-2.col-lg-3
  .col-xs-10.col-md-8.col-lg-6.scar-content
    h3 Thank You to Our Sponsors!
    p The Santa Cruz AIDS Project (SCAP) thanks all of our sponsors for their generous support to the Surf City AIDS Ride!  We also welcomes additional sponsors to get involved in this year's ride. Your organization can take pride in knowing you're supporting an organization that impacts people's lives in a positive way on a daily basis.
    p Please consider becoming a sponsor of the Surf City AIDS Ride. To inquire about sponsorships, contact us at 
     a(href='mailto:SCAIDSRide@EncompassCS.org')  SCAIDSRide@EncompassCS.org
     |  or call us at (831) 427-3900 x111.

 // .row
  .col-xs-1
  .col-xs-10
    include ./sponsors-list.jade