extends layout.jade

block pageHeader
  h1 Training

block content

  .row
    .col-xs-1.col-md-2.col-lg-3
    .col-xs-10.col-md-8.col-lg-6.scar-content
      h3 Training Programs
      p A number of local bike shops host training rides to help riders get ready for the big ride!  This training group grows every year.  It is a very welcoming atmosphere with a positive vibe! It is a great way to meet friendly local cyclists who are committed to fighting HIV/AIDS. You will also get in shape!

      h3 Schedule
      p.text-danger 2016 training schedule TBD

      h3 Training Ride Details
      h4 When?
      p The training rides occur every Saturday morning until the event, starting in August.  Exact schedule TDB.

      h4 How Far?
      p The mileages each week increases for the 30, 65, and 100 mile routes. Training Ride Leaders will assist you on the road. No one is left behind!

      h4 Where to Meet?
      p Each ride will start and end at a local Santa Cruz area bike shop. They will OPEN EARLY, give an in-store discount, and are sending out an employee to help lead the rides.

      h4 Ride Sponsors
      p 
        a(href='http://www.wholefoodsmarket.com/stores/santacruz') Whole Foods
        |  and 
        a(href='http://www.cafeugly.com/Cafeugly/home.html')  The Ugly Mug
        |  will be donating some snacks and coffee before a couple of the rides to help you get fueled up for the fun!

      h4 Rider Conduct
      p Helmets ARE required!  Please bring two full water bottles, 2 energy bars, and tire patch kit.  Also, please eat breakfast before riding!  A road bike / hybrid is suggested for longer rides, but not required.

      p Stay connected and updated by joining the 
        a(href='https://www.facebook.com/groups/surfcityAIDSridetraining/') Facebook training group


