mixin trainingDay(cfg)
  tr
    td= cfg.date
    td= cfg.distances
    td 
      a(href=cfg.location.link)= cfg.location.name

extends layout.jade

block pageHeader
  h1 Training

block content

  .col-xs-1.col-md-2.col-lg-3
  .col-xs-10.col-md-8.col-lg-6.scar-content
    h3 Training Programs
    p A number of local bike shops host training rides to help riders get ready for the big ride!  This training group grows every year.  It is a very welcoming atmosphere with a positive vibe! It is a great way to meet friendly local cyclists who are committed to fighting HIV/AIDS. You will also get in shape!

    h3 Schedule
    p Riders are expected to arrive at 8:00am and the ride will start at 8:30am.

    table.table
      tr
        th Date
        th Ride Distances
        th Start Location
      each day in trainingDays
        +trainingDay(day)

    p
      em.font-italic * On 10/1 the arrive time for the 70 mile ride is 7:00am and the depart will be 7:30am.  The other rides will meet at the usual time.

    h3 Training Ride Details

    h4 How Far?
    p Each week there will be different distance options based on training plans for 30, 65, and 100 mile routes.  The mileages increase each week.  Training Ride Leaders will assist you on the road.  No one is left behind!

    h4 Where to Meet?
    p Each ride will start and end at a local Santa Cruz area bike shop. They will OPEN EARLY for our training rides.  Some shops may offer special discounts.

    h4 Ride Sponsors
    p We'll help you get fueled up for fun by offering some snacks in the morning.  Coffee will be provided courtesy of 
      a(href='http://www.cafeugly.com/Cafeugly/home.html') The Ugly Mug
      | .

    h4 Rider Conduct
    p Riders are expected to bring the following:
      ul
        li Funtioning Bike and Helmet
        li Food for longer distances
        li Two Water Bottles (1 Water and 1 Electrolyte)
        li CO2 can or bike frame pump
        li Flat repair kit
        li Sunscreen and lip balm with sunscreen

    p Stay connected and updated by joining the 
      a(href='https://www.facebook.com/groups/surfcityAIDSridetraining/') Facebook training group.

    h4 Additional Resources
    p First time riders please contact Teresa Marlow at 831-818-3430 for special classes.
    p Surf City AIDS Ride registrants get a special $10 deal for drop-in Spin classes on Tuesday and Thursday nights at 6:00pm at 
      a(href='http://www.toadalfitness.com/class-schedule-image/downtown-class-schedule') Toadal Fitness Downtown
      |  with instructor Paul Howell.  To make an appointment call 831-423-3764 and ask for John Mcfadden.  Be sure to mention you are registered for the Surf City AIDS Ride and be prepared to show your confirmation email.



