extends layout.jade

block pageHeader
  h2 Volunteer

block content

  .col-xs-1.col-md-2.col-lg-3
  .col-xs-10.col-md-8.col-lg-6.scar-content
    h3 Sign Up to Volunteer!
    p It takes a lot to put the Surf City AIDS Ride together. We need your help! Whether it is sitting in on a planning meeting, having a day in the sun posting up flyers, or helping out with the day of the ride, we can find you a job that you will enjoy doing.
    p If you are interested in volunteering for the ride, please call our office at 831-427-3900 x3529.
