/*
 * Functions
 */

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
  
gray-img()
  -webkit-filter grayscale(100%)
  -webkit-transition .3s ease-in-out
  -moz-filter grayscale(100%) 
  -moz-transition .3s ease-in-out
  -o-filter grayscale(100%) 
  -o-transition .3s ease-in-out
  filter grayscale(100%)
    
gray-img-hover()
  -webkit-filter grayscale(0%)
  -webkit-transition .2s ease-in-out
  -moz-filter grayscale(0%)
  -moz-transition .2s ease-in-out
  -o-filter grayscale(0%)
  -o-transition .2s ease-in-out
  filter grayscale(0%)

/*
 * Global Elements
 */
 
/*@font-face 
  font-family: 'CaviarDreams'
  src: url('CaviarDreams.eot')
  src: url('CaviarDreams.eot?#iefix') format('embedded-opentype'),
      url('CaviarDreams.woff2') format('woff2'),
      url('CaviarDreams.woff') format('woff'),
      url('CaviarDreams.ttf') format('truetype'),
      url('CaviarDreams.svg#CaviarDreams') format('svg') 
  font-weight normal
  font-style normal
 
@font-face
  font-family 'CaviarDreams'
  src: url('CaviarDreams-Bold.eot')
  src: url('CaviarDreams-Bold.eot?#iefix') format('embedded-opentype'),
      url('CaviarDreams-Bold.woff2') format('woff2'),
      url('CaviarDreams-Bold.woff') format('woff'),
      url('CaviarDreams-Bold.ttf') format('truetype'),
      url('CaviarDreams-Bold.svg#CaviarDreams-Bold') format('svg')
  font-weight bold
  font-style normal
  
@font-face
  font-family 'CaviarDreams'
  src: url('CaviarDreams-Italic.eot')
  src: url('CaviarDreams-Italic.eot?#iefix') format('embedded-opentype'),
      url('CaviarDreams-Italic.woff2') format('woff2'),
      url('CaviarDreams-Italic.woff') format('woff'),
      url('CaviarDreams-Italic.ttf') format('truetype'),
      url('CaviarDreams-Italic.svg#CaviarDreams-Italic') format('svg')
  font-weight normal
  font-style italic

@font-face
  font-family 'CaviarDreams'
  src: url('CaviarDreams-BoldItalic.eot')
  src: url('CaviarDreams-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('CaviarDreams-BoldItalic.woff2') format('woff2'),
      url('CaviarDreams-BoldItalic.woff') format('woff'),
      url('CaviarDreams-BoldItalic.ttf') format('truetype'),
      url('CaviarDreams-BoldItalic.svg#CaviarDreams-BoldItalic') format('svg')
  font-weight bold
  font-style italic*/

body
  font-family Verdana,Geneva,sans-serif
  
h1
  @media(max-width: 543px)
    font-size 1.5em
    
  @media(min-width: 544px) and (max-width: 767px)
    font-size 2em
    
  @media(min-width: 768px)
    font-size 3em
  
h2
  @media(max-width: 543px)
    font-size 1.25em
    
  @media(min-width: 544px) and (max-width: 767px)
    font-size 1.5em
    
  @media(min-width: 768px)
    font-size 2.5em
  
h3
  @media(max-width: 543px)
    font-size 1.2em
    
  @media(min-width: 544px) and (max-width: 767px)
    font-size 1.3em
    
  @media(min-width: 768px)
    font-size 2em
  
h4
  @media(max-width: 767px)
    font-size 1.1em
    
  @media(min-width: 768px)
    font-size 1.5em
  
p
  margin-bottom 1em
  
/*
 * Bootstrap overrides
 */
 
.navbar
  border-radius(0)
  padding 0
 
.navbar-brand
  margin-right 40px
  padding 0
  
.nav-item
  font-size 1.2em
  margin-right 0.4em
 
.card img
  width 100%
  
.card-title
  margin: 0
  
.list-inline li
  display inline
  
.card-block a
  margin 10px


/*
 * Layout
 */

.aids-dark-theme
  background-color #9C1F28
  color #fff
  
#navbar-toggler
  float: left
  
#navbar-sm-left
  background-color #C72127
  
#navbar-sm-title
  padding-top 8px
  height 38px
  background-color #1D95A6
  background-image url(../assets/mobile-brand-3.png)
  background-repeat no-repeat
  background-position 0px
  background-size auto 100%
  
  span
    font-size 1.2em

#nav-mobile-title-text
  margin-left 38px
  
#collapsable-navbar 
  clear both
  
  ul
    @media(min-width: 1095px)
      padding-top 0.8em
      
    li
      @media (max-width: 767px)
        float none
        margin-left 1rem

#page-header
  
  padding 50px 0 0 0
  background-position 0px
  background-repeat no-repeat
  background-size 100%  
  min-height 300px
  
  @media(max-width: 543px)
    padding 20px 0 0 0
    min-height 150px
    
  @media(min-width: 544px) and (max-width: 767px)
    min-height 225px
    
#page-header-content
  padding 2em
  background-color rgba(255, 255, 255, 0.7)
  font-weight bold
  color black
  
  @media(max-width: 767px)
    padding 1em
    
  a
    margin 10px
    
    @media(max-width: 767px)
      padding .5em 1em
      font-size 1.3em
      line-height 1.1em
    @media (min-width: 768px)
      padding .6em 1.1em
      font-size 1.5em
      line-height 1.2em
 
#footer
  margin-top 10px
  padding-top 10px
   
  img
    padding 10px
    width 100%
    
  address, ul, h3
    padding 10px
  
.fa
  @media(min-width: 767px)
    color gray
  
.facebook:hover
  color #3B5998

.twitter:hover
  color #55ACEE
  
.instagram:hover
  color #125688

@media(max-width: 768px)
  .facebook
    color #3B5998

  .twitter
    color #55ACEE
    
  .instagram
    color #125688
  
#copyright
  margin-top 0.7em
  padding 0.5em
  
/*
 * Content
 */
 
.scar-content
  margin-top 2em
  margin-bottom 4em
  
  p
    margin-top 1em
    
  h3
    margin 1em 0

  h4
    margin-top 1em
    
  h5
    margin-top 5px
    margin-bottom 1em
    font-style italic
    
  address
    margin-top 1em
    
  table tr
    th
      font-weight bold
      
    th, td
        padding 5px 10px
    
  img
    width 100%
    
  ol
    list-style-type decimal
    margin-left 1.5em
    margin-bottom 1em
    
    li
      padding 0.3em 0
      
  ul
    list-style-type disc
    margin-left 1.5em
 
.card img
  @media (min-width: 767px)
    gray-img()
    
.card img:hover
  @media (min-width: 767px)
    gray-img-hover()
    
.fundraiser-block
  padding 0 1em 1em 1em
  
  h5
    font-size 1.2em
  
  table
    margin-top 1em
    margin-bottom 2em
    
  input
    margin-top 0.7em
    margin-bottom 2em
    
  th
    font-weight bold
    
#donor-page-fundraisers
  width 100%
  
#encompass-logo
  gray-img-hover()  
 
.photo-credit
  font-size 0.8em
  padding-right 5px
  text-align right
  
#home-cards
  padding 10px 0px
  
  .home-column
    padding 0px 0.6em
  
#home-routes-title
  padding 10px
  
#sponsors img
  width 80%
  vertical-align middle
  
.sponsor-container
  text-align center
  @media (max-width: 543px)
    height 100px
    line-height 120px
  @media (min-width: 544px) and (max-width: 767px)
    height 175px
    line-height 130px
  @media (min-width: 768px) and (max-width: 1199px)
    line-height 200px
  @media (min-width: 1200px)
    line-height 220px
    
  img
    @media (min-width: 767px)
      gray-img()
    
  img:hover
    @media (min-width: 767px)
      gray-img-hover()
    
.registration-buttons a
  margin 10px
    
.route-divider
  border-style dashed
  
.route-img
  margin-bottom 10px
    
.aid-station-container:nth-child(2n+1)
  clear both
    
.aid-station
  border-radius(5px)
  border 1px solid gray
  margin 10px
  padding 10px
  
  h4
    margin 0
    
.support-intro
  vertical-align top
  min-width 125px
  
.reference-list-item
  margin-bottom 1em
  
#volunteer-google-form
  height 500px
  width 100%
  @media (min-width: 768px) and (max-width: 991px)
    height 600px
  @media (min-width: 992px)
    height 700px
    
#fundraising-buttons a
  margin 10px