/*
 * Functions
 */

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments


/*
 * Global Elements
 */
 
body
  font-family Verdana,Geneva,sans-serif
  
h1
  @media(max-width: 543px)
    font-size 1.5em
    
  @media(min-width: 544px) and (max-width: 767px)
    font-size 2em
    
  @media(min-width: 768px)
    font-size 3em
  
h2
  @media(max-width: 543px)
    font-size 1.25em
    
  @media(min-width: 544px) and (max-width: 767px)
    font-size 1.5em
    
  @media(min-width: 768px)
    font-size 2.5em
  
h3
  @media(max-width: 543px)
    font-size 1.2em
    
  @media(min-width: 544px) and (max-width: 767px)
    font-size 1.3em
    
  @media(min-width: 768px)
    font-size 2em
  
h4
  @media(max-width: 767px)
    font-size 1.1em
    
  @media(min-width: 768px)
    font-size 1.5em
  
p
  margin-bottom 1em
  
/*
 * Bootstrap overrides
 */
 
.navbar
  border-radius(0)
  padding 0
 
.navbar-brand
  margin-right 40px
  padding 0
  
.nav-item
  font-size 1.2em
  margin-right 0.4em
 
.card img
  width 100%
  
.card-title
  margin: 0
  
.list-inline li
  display inline
  
.card-block a
  margin 10px


/*
 * Layout
 */

.aids-dark-theme
  background-color #9C1F28
  color #fff
  
#navbar-toggler
  float: left
  
#navbar-sm-left
  background-color #C72127
  
#navbar-sm-title
  padding-top 8px
  height 38px
  background-color #9C1F28
  background-image url(../assets/mobile-brand-2.png)
  background-repeat no-repeat
  background-position 0px
  background-size auto 100%
  
  span
    font-size 1.2em

#nav-mobile-title1
  color #9C1F28
  font-weight bold
  margin-left 2em
  
#nav-mobile-title2
  margin-left 0.8em
  
#collapsable-navbar 
  clear both
  
  ul
    @media(min-width: 1095px)
      padding-top 0.8em
      
    li
      @media (max-width: 767px)
        float none
        margin-left 1rem

#page-header
  
  padding 50px 0 0 0
  background-position 0px
  background-repeat no-repeat
  background-size 100%  
  min-height 300px
  
  @media(max-width: 543px)
    padding 20px 0 0 0
    min-height 150px
    
  @media(min-width: 544px) and (max-width: 767px)
    min-height 225px
    
#page-header-content
  padding 2em
  background-color rgba(255, 255, 255, 0.5)
  font-weight bold
  color black
  
  @media(max-width: 543px)
    padding 1em
 
#footer
  margin-top 10px
  padding-top 10px
   
  img
    padding 10px
    width 100%
    
  address, ul, h3
    padding 10px
  
.fa
  @media(min-width: 767px)
    color gray
  
.facebook:hover
  color #3B5998

.twitter:hover
  color #55ACEE
  
.instagram:hover
  color #125688

@media(max-width: 768px)
  .facebook
    color #3B5998

  .twitter
    color #55ACEE
    
  .instagram
    color #125688
  
#copyright
  margin-top 0.7em
  padding 0.5em
  
/*
 * Content
 */
 
#scar-content
  margin-top 2em
  
  p
    margin-top 1em
    
  h3
    margin 1em 0

  h4
    margin-top 1em
    
  h5
    margin-top 5px
    margin-bottom 1em
    font-style italic
    
  address
    margin 1em 0
    
  table tr
    th
      font-weight bold
      
    th, td
        padding 5px 10px
    
  img
    width 100%
    
  ol
    list-style-type decimal
    margin-left 1.5em
    margin-bottom 1em
    
    li
      padding 0.3em 0
 
.filler
  padding 2em
 
#home-photo-credit
  font-size 0.8em
  padding-right 5px
  text-align right
  
#home-cards
  padding 10px
  
#home-routes-title
  padding 10px
  
#sponsors img
  width 80%
  vertical-align middle
  
#sponsors div
  @media (min-width: 768px) and (max-width: 991px)
    line-height 200px
  @media (min-width: 992px) and (max-width: 1199px)
    line-height 160px
  @media (min-width: 1200px)
    line-height 120px
    
#fundraising-buttons a
  margin-left 2em